* {
  font-family: "Noto Sans TC", sans-serif;
}

.chatbox {
  height: 100vh;
}

.chatbox .card-header {
  height: 6vh;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
}

.chatbox .card-body {
  height: 84vh;
  overflow-x: auto;
}

.chatbox .card-body .message {
  display: flex;
  float: left;
  clear: both;
  margin-bottom: 10px;
}

.chatbox .card-body .message .author-img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.chatbox .card-body .message .message-group {
  margin-left: 5px;
}

.chatbox .card-body .message .message-group .author {
  margin-left: 3px;
}

.chatbox .card-body .message .message-group .message-text {
  background-color: #eeeeee;
  padding: 8px 16px;
  border-radius: 20px;
}

.chatbox .card-body .me {
  flex-direction: row-reverse;
  float: right;
  clear: both;
}

.chatbox .card-body .me .message-group .author {
  margin-right: 3px;
  text-align: right;
}

.chatbox .card-body .me .message-group .message-text {
  background-color: #007bff;
  color: white;
}

.chatbox .card-footer {
  height: 10vh;
}

